* {
  box-sizing: border-box;
}

body {
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 46px;
  font-family: 'Times New Roman', serif;
}

h2 {
  font-weight: 500;
  font-size: 28px;
  font-family: 'Trebuchet MS', sans-serif;
}

h3 {
  text-decoration: underline;
}

section {
  border: 2px solid hsla(250, 47%, 85%, 1);
  margin-bottom: 10px;
  padding: 0 20px 20px 20px;

}

.content {
  position: relative;
}

.box {
  /* border: 2px solid hsla(0, 0%, 92%, 1); */
  display: inline-block;
  height: 100%;
  width: 30%;
  padding: 0 10px;
}

#colour1 {
  /* --gunmetal:  */
  background-color: hsla(197, 47%, 18%, 1);

}

#colour2 {
  /* --space-cadet: */
  background-color: hsla(222, 29%, 27%, 1);
}

#colour3 {
  /* --french-lilac: */
  background-color: hsla(266, 17%, 46%, 1);
}

#colour4 {
  /* lavender-blue:  */
  background-color: hsla(250, 47%, 85%, 1);
}

#colour5 {
  /* --platinum:  */
  background-color: hsla(0, 0%, 92%, 1);
}

div .light {
  /* --platinum:  */
  color: hsla(0, 0%, 92%, 1);
}

.font1 {
  font-family: 'Times New Roman';
}

.font2 {
  font-family: 'Trebuchet MS';
}

.font3 {
  font-family: Helvetica;
}

 
 

