* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 10px 20px;
}

h1 {
  text-align: center;
}

section {
  border: 2px solid hsla(250, 47%, 85%, 1);
  margin-bottom: 10px;
  padding: 0 20px 20px 20px;

}

.content {
  position: relative;
  text-align: center;
}

.box {
  border: 2px solid hsla(0, 0%, 92%, 1);
  display: inline-block;
  height: 100%;
  margin-top: 4px;
  text-align: center;
  width: 250px;
  padding: 10px 10px;
}


#box1 {
  /* --gunmetal:  */
  background-color: hsla(197, 47%, 18%, 1);

}

#box2 {
  /* --space-cadet: */
  background-color: hsla(222, 29%, 27%, 1);
}

#box3 {
  /* --french-lilac: */
  background-color: hsla(266, 17%, 46%, 1);
}

#box4 {
  /* lavender-blue:  */
  background-color: hsla(250, 47%, 85%, 1);
}

div .light {
  /* --platinum:  */
  color: hsla(0, 0%, 92%, 1);
}

/* .font {
  border: 2px solid hsla(0, 0%, 92%, 1);
  display: inline-block;
  height: 100%;
  margin-top: 4px;
  text-align: center;
  width: 250px;
  padding: 0 10px;
} */

#font1 {
  font-family: Georgia;
}

#font2 {
  font-family: 'Times New Roman';
}

#font3 {
  font-family: Helvetica;
}

 
 

