
#box1 {
  /* --gunmetal:  */
  background-color: hsla(197, 47%, 18%, 1);
}

#box2 {
  /* --space-cadet: */
  background-color: hsla(222, 29%, 27%, 1);
}

#box3 {
  /* --french-lilac: */
  background-color: hsla(266, 17%, 46%, 1);
}

#box4 {
  /* lavender-blue:  */
  background-color: hsla(250, 47%, 85%, 1);
}

#box5 {
  /* --platinum:  */
  background-color: hsla(0, 0%, 92%, 1);
}

 
 

